
{% extends 'base.html' %}
{% block title %}Dashboard Power BI{% endblock %}
{% block content %}
<h2>Rapport Power BI</h2>
<iframe title="Final Report BI" width="1024" height="1060"
src="https://app.powerbi.com/view?r=eyJrIjoiOThlZjZjNjEtYjQ2Yy00NjFjLTg1ODUtOGJjNGM2NmU0Yjg4IiwidCI6ImRiZDY2NjRkLTRlYjktNDZlYi05OWQ4LTVjNDNiYTE1M2M2MSIsImMiOjl9"
frameborder="0" allowFullScreen="true"></iframe>
<p><em>🔐 Intégration sécurisée via Azure en attente d'autorisation institutionnelle.</em></p>
{% endblock %}
