
{% extends 'base.html' %}
{% block title %}Analyse Prédictive{% endblock %}
{% block content %}
<h2>Prédiction (SVM)</h2>
<p>Ce module vous permet de prédire le profil de risque d’un conducteur à partir de ses informations.</p>

<form method="post" action="/predict">
  <label>Âge :</label>
  <input type="number" name="age" required><br><br>
  
  <label>Kilométrage annuel :</label>
  <input type="number" name="km" required><br><br>
  
  <label>Type de véhicule :</label>
  <select name="vehicule">
    <option value="citadine">Citadine</option>
    <option value="SUV">SUV</option>
    <option value="utilitaire">Utilitaire</option>
  </select><br><br>
  
  <input type="submit" value="Prédire">
</form>

{% if prediction %}
  <h3>Résultat de la prédiction :</h3>
  <p><strong>{{ prediction }}</strong></p>
{% endif %}

{% endblock %}
